<!doctype html>
<html lang="en">
<head data-th-fragment="headFragment(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[[${title}]]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div data-th-fragment="logoutFragment">
    <form data-th-if="${#authorization.expression('isAuthenticated()')}"
            data-th-action="@{/logout}" method="post">
        <button>Sign out</button>
    </form>
</div>
<div data-th-fragment="registerFragment">
    <a
            data-th-if="${#authorization.expression('isAnonymous()')}"
            data-th-href="@{/register}">Registration</a>
</div>
<div data-th-fragment="loginFragment">
    <a data-th-if="${#authorization.expression('isAnonymous()')}"
       data-th-href="@{/login}">Sign in</a>
</div>
</body>
</html>