<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Детали</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body mt-5>
<div class="container">
    <div class="col">

        <h3 class="row">Подробности:</h3>
        <h1>[[${pilot.getPilotname()}]]</h1>

        <li class="list-group-item" data-th-each="pilot : ${pilotes}">

        <li class="list-group-item">Опыт: [[${pilot.getExperience()}]]</li>
        <li class="list-group-item">День рождения: [[${pilot.getBirthdate()}]]</li>
        <li class="list-group-item">Самолет: [[${pilot.getAircraft()}]]
        </li>


    </div>

    <ul class="mt-3">


        pilot's ID : [[${pilot.getId()}]]



    </ul>

    <a class="btn btn-danger" data-th-if="${pilot.getId()} == '2'" data-th-href="@{/teamYM}">
        <!--       data-th-if="${pilot instanceOf T(ru.itpark.domain.Sonka)}">-->

        MUROYA'S TEAM</a>

    <a class="btn btn-danger" data-th-if="${pilot.getId()} == '1'" data-th-href="@{/teamMS}">
    <!--       data-th-if="${pilot instanceOf T(ru.itpark.domain.Sonka)}">-->

    SONKA'S TEAM</a>

    <a class="btn btn-danger" data-th-if="${pilot.getId()} == '3'" data-th-href="@{/teamPL}">
        <!--       data-th-if="${pilot instanceOf T(ru.itpark.domain.Sonka)}">-->

        McLEOD'S TEAM</a>

    <a class="btn btn-danger" data-th-if="${pilot.getId()} == '4'" data-th-href="@{/teamNI}">
        <!--       data-th-if="${pilot instanceOf T(ru.itpark.domain.Sonka)}">-->

        IVANOFF'S TEAM</a>

</div>


</body>
</html>