<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title=${title})">


</head>
<body>

    <h1>Изменить данные пилотов</h1>
    <div data-th-each="pilot : ${pilotes}" data-th-if="${pilot}">
    <form data-th-action="@{/edit/{id}(id=${pilot.getId()})}" method="post">
        <input class="form-control" id="pilotname" type="text" name="pilotname"
               placeholder="Наименование"
               data-th-value="${pilot.getPilotname()}">

        <input class="form-control" id="birthdate" type="text" name="birthdate"
               placeholder="Дата рождения"
               data-th-value="${pilot.getBirthdate()}">

        <input class="form-control" id="experience" type="text" name="experience"
               placeholder="стаж"
               data-th-value="${pilot.getExperience()}">

        <input class="form-control" id="aircraft" type="text" name="aircraft" placeholder="модель самолета"
               data-th-value="${pilot.getAircraft()}">


        <button>Сохранить</button>
    </form>
</div>

</body>
</html>