<!doctype html>
<html lang="en">
<head data-th-replace = "fragments/layout :: headFragment(title=${title})"></head>
<body>


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Add New Pilot</h1>
            <form class="mt-3 mb-6" data-th-action="@{/pilot-add}" method="post">
               <div class="form-group">
                <input class="form-control" id="pilotname" type="text" name="pilotname"
                       placeholder="Name">

                <input class="form-control" id="birthdate" type="text" name="birthdate"
                       placeholder="Birthday">

                <input class="form-control" id="experience" type="text" name="experience"
                       placeholder="Experience">

                <input class="form-control" id="aircraft" type="text" name="aircraft" placeholder="Aircraft">

               </div>
                <button class="btn btn-danger">ADD</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>