<!doctype html>
<html lang="en">
<head data-th-replace = "fragments/layout :: headFragment(title=${title})">




</head>
<body>
<div class="container">
    <h1>СОСТАВ КОМАНДЫ</h1>
<h1>Йоши Муройя</h1>

    <ul class="list-group">
        <li class="list-group-item" data-th-each="teamYM : ${teamYM}">
            <p> <h4>[[${teamYM.getMemberName()}]] </h4></p>
            <p>In the team from [[${teamYM.getTimeInTeam()}]]</p>
            <p>as a [[${teamYM.getRole()}]]</p>
        </li>
    </ul>


</div>



</body>
</html>