<!doctype html>
<html lang="en">
<head data-th-replace = "fragments/layout :: headFragment(title=${title})">




</head>
<body>
<div class="container">
    <h1>СОСТАВ КОМАНДЫ</h1>
<h1>Пит МакЛеод</h1>

    <ul class="list-group">
        <li class="list-group-item" data-th-each="teamPL : ${teamPL}">
<!--            data-th-if="${pilot instanceOf T(ru.itpark.domain.Pilot)}"-->

            <a data-th-href="@{/{id}(id=${teamPL.getMemberName()})}">
                [[${teamPL.getMemberName()}]]
            </a>
        </li>
    </ul>


</div>



</body>
</html>