<!doctype html>
<html lang="en">
<head data-th-replace="fragments/layout :: headFragment(title=${title})">


</head>
<body>
<div class="container">
    <h1>The team of</h1>
    <h1>МARTIN SONKA</h1>

    <ul class="list-group">
        <li class="list-group-item" data-th-each="teamMS : ${teamMS}">
            <p> <h4>[[${teamMS.getMemberName()}]] </h4></p>
            <p>In the team from [[${teamMS.getTimeInTeam()}]]</p>
            <p>as a [[${teamMS.getRole()}]]</p>
        </li>
    </ul>


</div>


</body>
</html>