<!doctype html>
<html lang="en">
<head data-th-replace = "fragments/layout :: headFragment(title=${title})">




</head>
<body>
<div class="container">
    <h1>The team of</h1>
<h1>Pete McLeod</h1>

    <ul class="list-group">
        <li class="list-group-item" data-th-each="teamPL : ${teamPL}">
            <p> <h4>[[${teamPL.getMemberName()}]] </h4></p>
            <p>In the team from [[${teamPL.getTimeInTeam()}]]</p>
            <p>as a [[${teamPL.getRole()}]]</p>
        </li>
    </ul>


</div>



</body>
</html>